/* #quizForm {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

.card {
    margin-top: 5px;
}

.choice {
    margin: 0 5px;
    text-align: left;
}

.radiobtn {
    margin: 10px;
}

#submitButton, #retake-button {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

