body {
    margin: 0;
    padding: 0;
    background: #1D1F21;
}

.blob {
    position: absolute;
    background: #007bff;
    /* Blue color */
    opacity: 0.4;
    filter: blur(75px);
    border-radius: 500px;
    width: 400px;
    height: 400px;
}

.blob-2 {
    position: absolute;
    background: #007bff;
    /* Blue color */
    opacity: 0.4;
    filter: blur(75px);
    border-radius: 500px;
    width: 400px;
    height: 400px;

    top: -100px;
    right: 0px;
}

.wrapper {
  position: relative; /* Needed to position blobs relatively */
  margin: 10% auto; /* Center the wrapper horizontally */
  width: 80%; /* Adjust width as needed */
  padding: 10px; /* Add padding for content */
  background-color: transparent;
  border-radius: 10px;
}

.inputBtn {
    display: none;
}

.custom-file-upload {
    background-color: #ddd;
    color: #444;
    padding: 5px 10px;
    border: 1px solid #aaa;
    cursor: pointer;
    width: 50%;
}

/* Added rule to center the heading */
h1 {
    text-align: center;
    color: azure;
}

/* Added rule to center the form elements */
form {
    text-align: center;
}

img {
    width: 8%;
    margin-right: 5px;
}

p {
    text-align: center;
    color: azure;
}

button {
    background-color: wheat;
    /* Green color */
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    /* Add rounded corners */
}

button:hover {
    background-color: whitesmoke;
}