<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyze Skin | SkinGuard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="x-icon" href="static/img/skinguard-favicon.svg">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/icons.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css">

    <!-- Head JS -->
    <script src="static/js/head.js"></script>
</head>

<body>
    <!-- Wrapper -->
    <div class="app-wrapper">
        <!-- Menu Start -->
        <div class="app-menu">
            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="logo-box">
                <img src="static/img/skinguard-logo-small.png">
            </a>
            <!--- Menu -->
            <div data-simplebar>
                <ul class="menu">
                    <li class="menu-title">MENU</li>

                    <li class="menu-item">
                        <a href="{{ url_for('index') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-home-outline"></i></span>
                            <span class="menu-text"> Home </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('analyze_skin') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-magnify"></i></span>
                            <span class="menu-text"> Analyze Skin </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('risk_profile') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-clipboard-account"></i></span>
                            <span class="menu-text"> Risk Profile </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('skin_type') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-chart-bell-curve-cumulative"></i></span>
                            <span class="menu-text"> Skin Type </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('uv_index') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-weather-sunny"></i></span>
                            <span class="menu-text"> UV Index </span>
                        </a>
                    </li>

                    <li class="menu-title">INFORMATION</li>

                    <li class="menu-item">
                        <a href="https://skinguard-information-center.notaku.site/" target="_blank" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-information-outline"></i></span>
                            <span class="menu-text"> Information Center </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="https://skinguard-knowledge-base.notaku.site/" target="_blank" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-help"></i></span>
                            <span class="menu-text"> Help Center </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Page Content Start -->
        <div class="app-content">
            <!-- Heading Bar Start -->
            <header class="app-header">
                <!-- Brand Logo -->
                <a href="{{ url_for('index') }}" class="logo-box">
                    <img src="static/img/skinguard-single-logo.svg" class="small-logo" alt="Small logo">
                </a>

                <!-- Menu Toggle Button -->
                <button id="button-toggle-menu" class="nav-link">
                    <span class="hamburger-nav"></span>
                    <span class="hamburger-nav-main">
                        <i class="mdi mdi-24px mdi-menu"></i>
                    </span>
                </button>

                <!-- Page Title -->
                <h4 class="header-font-title">Analyze Skin</h4>
            </header>
            <!-- Heading Bar End -->

            <!-- Main Content Start -->
            <main class="main-body">
                <!-- Upper Row -->
                <div class="main-grid-row xl-grid-4-cols m-grid-3-cols">
                    <!-- Skin Image Start -->
                    <div class="card card-skin-photo">
                        <div class="card-header flex justify-between items-center">
                            <h4 class="card-title">Upload Image</h4>
                        </div>

                        <div class="card-container skin-upload">
                            <div class="input-group">
                                <!-- upload flask function -->
                                <form id="uploadForm" enctype="multipart/form-data">
                                    <input type="file" name="file" accept="image/*">
                                    <button type="submit" class="upload-button">Analyze Image</button>
                                </form>
                            </div>

                            <!-- Skin Image Start -->
                            <div id="imagePart" style="display: none;">
                                <div class="image-container">
                                    <img id="uploadedImage" class="img-card" src="" alt="">
                                </div>
                            </div>
                            <!-- Skin Image End -->
                        </div>

                        <!-- Skin Image End -->
                    </div>
                    <!-- Result Start -->
                    <div class="results-row" id="results">
                        <!-- Diagnosis and Accuracy here -->
                        <div>
                            <div class="card card-diagnosis-table" style="margin-bottom: 1.5rem;">
                                <div class="card-header">
                                    <h4 class="card-title">Diagnosis</h4>
                                </div>
                                <div class="results-container">
                                    <div class="result-icon">
                                        <span class="results-container icon">
                                            <i class="mdi mdi-24px mdi-stethoscope"></i>
                                        </span>
                                        <span>
                                            <span class="result-heading">Classification</span>
                                            <span class="result-number" id="classification"><span></span></span>
                                        </span>
                                    </div>

                                    <!-- Result Description Blocks -->
                                    <p class="result-description-benign" style="display: none;">A benign growth is
                                        <strong>non-cancerous</strong>,
                                        typically develops slowly, and doesn't spread to other parts of the body.
                                    </p>
                                    <p class="result-description-malignant" style="display: none;"> A malignant melanoma
                                        are aggressive cases of
                                        <strong>cancerous</strong> cells that linger and spread throughout the body
                                        which needs urgent medical attention.
                                    </p>
                                    <!-- Result Description Block -->
                                </div>
                            </div>
                            <!-- ACCURACY RESULTS -->
                            <div class="card card-diagnosis-table">
                                <div class="card-header">
                                    <h4 class="card-title">Accuracy</h4>
                                </div>

                                <div class="results-container">
                                    <div class="result-icon">
                                        <span class="results-container icon">
                                            <i class="mdi mdi-24px mdi-percent-outline"></i>
                                        </span>
                                        <span>
                                            <span class="result-heading">Accuracy Score</span>
                                            <span class="result-number" id="accuracyScore"></span>
                                        </span>
                                    </div>
                                    <p class="result-description">Accuracy score is a a measure of how well the
                                        algorithm
                                        predicts whether a skin spot is benign or malignant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Result End -->
                </div>
                <!-- Analysis table -->
                <div class="main-grid-row">
                    <div class="card card-table">
                        <div class="card-header flex justify-between items-center">
                            <h4 class="card-title">Analysis</h4>
                        </div>
                        <div class="navigation-main">
                            <div class="navigation-container">
                                <div>
                                    <nav class="navigation-action" aria-label="Tabs" role="tablist">
                                        <button type="button" class="navigation-tab active"
                                            id="tabs-with-underline-item-1" data-hs-tab="#tabs-with-underline-1"
                                            aria-controls="tabs-with-underline-1" role="tab">
                                            Results
                                        </button> <!-- button-end -->
                                        <button type="button" class="navigation-tab" id="tabs-with-underline-item-2"
                                            data-hs-tab="#tabs-with-underline-2" aria-controls="tabs-with-underline-2"
                                            role="tab">
                                            Accuracy Information
                                        </button> <!-- button-end -->
                                        <button type="button" class="navigation-tab" id="tabs-with-underline-item-3"
                                            data-hs-tab="#tabs-with-underline-3" aria-controls="tabs-with-underline-3"
                                            role="tab">
                                            Next Steps
                                        </button> <!-- button-end -->
                                    </nav> <!-- nav-end -->

                                    <div class="navigation-content-container">
                                        <div id="tabs-with-underline-1"
                                            class=" transition-all duration-300 transform active" role="tabpanel"
                                            aria-labelledby="tabs-with-underline-item-1">
                                            <p class="result-benign" style="display: none;">
                                                When a spot is classified as <strong>"benign,"</strong> it means that the analysis indicates the spot is <strong>non-cancerous</strong> and does not pose an immediate threat to your health.<br><br> Benign spots are typically harmless and may include common skin lesions such as moles, cysts, or benign tumors.
                                            </p>
                                            <p class="result-malignant" style="display: none;">
                                                When a spot is classified as <strong>"malignant,"</strong> it means that the spot may be <strong>cancerous</strong> and requires further evaluation and medical attention. <br><br>Malignant spots are indicative of skin cancer, which can include various types such as melanoma, basal cell carcinoma, or squamous cell carcinoma. <br><br>For more information about skin cancer, you can check our articles here: <a class ="hyperlink-tab" href="https://skinguard-information-center.notaku.site/about-skin-cancer">About Skin Cancer</a>
                                            </p>
                                        </div> <!-- tabs-with-underline-1 end -->

                                        <div id="tabs-with-underline-2"
                                            class="transition-all duration-300 transform  hidden" role="tabpanel"
                                            aria-labelledby="tabs-with-underline-item-2">
                                            <p class="accuracyPercentHigh">
                                                High accuracy percentage shows that the model is highly certain on the analysis. This meant that you must take big consideration of the result and follow the next steps
                                                on what you should be doing next. 
                                            </p>
                                            <p class="accuracyPercentLow">
                                                Sometimes, the model is not certain with its result. Try taking another angle of the skin part or try consulting some professionals on any suspicious skin parts.
                                            </p>
                                        </div> <!-- tabs-with-underline-2 end -->

                                        <div id="tabs-with-underline-3"
                                            class="transition-all duration-300 transform  hidden" role="tabpanel"
                                            aria-labelledby="tabs-with-underline-item-3">
                                            <p class="nextStep-benign" style="display: none;">
                                                While benign spots are typically harmless, it's essential to stay vigilant and pay attention to any changes in your skin over time and continuing to practice sun safety measures.
                                                <br><br>To learn more about preventing skin cancer, you can check our articles here: <a href="https://skinguard-information-center.notaku.site/skin-cancer-prevention" class="hyperlink-tab">Skin Cancer Prevention</a>
                                            </p>
                                            <p class="nextStep-malignant" style="display: none;">
                                                Receiving a malignant result indicates the possibility of skin cancer and requires prompt medical attention and further evaluation. Early detection and treatment are crucial for improving outcomes and preventing the spread of cancer. 
                                                
                                                <br><br>You must <strong>schedule an appointment with a dermatologist or healthcare provider</strong> as soon as possible for a comprehensive evaluation of the spot and further diagnostic testing if necessary.

                                                <br><br>To learn more skin cancer treatment options, you can check our article here: <a href="https://skinguard-information-center.notaku.site/about-skin-cancer/treatment-options" class="hyperlink-tab">Skin Cancer Treatment Options</a>

                                                <br><br>To learn more about preventing skin cancer, you can check our articles here: <a href="https://skinguard-information-center.notaku.site/skin-cancer-prevention" class="hyperlink-tab">Skin Cancer Prevention</a>
                                            </p>
                                        </div> <!-- tabs-with-underline-3 end -->
                                    </div>
                                </div> <!-- tab-end -->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <!-- Page Content End -->
    </div>
    <!-- JS -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/simplebar.js"></script>
    <script src="static/js/waves.js"></script>
    <script src="static/js/knob.js"></script>
    <script src="static/js/preline.js"></script>
    <script src="static/js/app.js"></script>
    <!-- Script for handling form submission -->
    <script>
        document.getElementById("uploadForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            analyzeImage(formData);
        });
        // Function to analyze the image from the user's uploaded input
        function analyzeImage(formData) {
            // Grab the user's uploaded input in the form of POST method
            fetch("/upload", {
                method: "POST",
                body: formData
            })
                // Application will send a JSON response that will translate for the script function
                .then(response => response.json())
                .then(data => {
                    // Display the results section and "Image" part
                    document.getElementById("results").style.display = "block";
                    document.getElementById("imagePart").style.display = "block";

                    // Update the content of the "Image" part
                    document.getElementById("uploadedImage").src = URL.createObjectURL(formData.get('file'));

                    // Update the content of the results
                    document.getElementById("classification").innerText = data.result;
                    document.getElementById("accuracyScore").innerText = data.scaled_value;

                    // Get variables for accuracy score and result algorithm
                    let scaledValue;
                    const resultBenign = document.querySelector(".result-description-benign");
                    const resultMalignant = document.querySelector(".result-description-malignant");
                    const analyzeBenign = document.querySelector(".result-benign");
                    const analyzeMalignant = document.querySelector(".result-malignant");
                    const nextBenign = document.querySelector(".nextStep-benign");
                    const nextMalignant = document.querySelector(".nextStep-malignant");
                    const accuracyPercentHigh = document.querySelector(".accuracyPercentHigh");
                    const accuracyPercentLow = document.querySelector(".accuracyPercentLow");
                    // According to the prediction scores on the model, benign results can go into 0.49 to < 0.001
                    // And malignant results can go from 0.5 to 1

                    // Benign Condition
                    if (data.scaled_value >= 0.001 && data.scaled_value <= 0.49) {
                        // Show benign description while hiding the malignant description
                        nextBenign.style.display = "block";
                        nextMalignant.style.display = "none";
                        analyzeBenign.style.display = "block";
                        analyzeMalignant.style.display = "none";
                        resultBenign.style.display = "block";
                        resultMalignant.style.display = "none";
                        // Get the decimal value of the result and turn it into percentage
                        scaledValue = (1 - data.scaled_value / 0.49) * 100;
                    } else if (data.scaled_value >= 0.5 && data.scaled_value <= 1) { // Malignant description
                        // Display malignant description while hiding the benign description
                        nextBenign.style.display = "none";
                        nextMalignant.style.display = "block";
                        analyzeBenign.style.display = "none";
                        analyzeMalignant.style.display = "block";
                        resultBenign.style.display = "none";
                        resultMalignant.style.display = "block";
                        // Get the decimal value of the result and turn it into percentage
                        scaledValue = (data.scaled_value - 0.5) / (1 - 0.5) * 100;
                    }
                    if (scaledValue > 50) {
                        accuracyPercentHigh.style.display = "block";
                        accuracyPercentLow.style.display = "hidden";
                    } else {
                        accuracyPercentLow.style.display = "block";
                        accuracyPercentHigh.style.display = "hidden";
                    }

                    // Round the scaled percentage before displaying 
                    const roundedScaledValue = Math.round(scaledValue);
                    document.getElementById("accuracyScore").innerText = roundedScaledValue + "%";
                })
                // For error handling the application model
                .catch(error => console.error("Error:", error));
        }

        // Hide the results section and "Image" part initially
        document.getElementById("results").style.display = "none";
        document.getElementById("imagePart").style.display = "none";
    </script>
</body>

</html>