<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SkinGuard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="x-icon" href="static/img/skinguard-favicon.svg">
    

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/icons.css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Head JS -->
    <script src="static/js/head.js"></script>
</head>

<body>
    <!-- Wrapper -->
    <div class="app-wrapper">
        <!-- Menu Start -->
        <div class="app-menu">
            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="logo-box">
                <img src="static/img/skinguard-logo-small.png">
            </a>
            <!--- Menu -->
            <div data-simplebar>
                <ul class="menu">
                    <li class="menu-title">MENU</li>

                    <li class="menu-item">
                        <a href="{{ url_for('index') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-home-outline"></i></span>
                            <span class="menu-text"> Home </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('analyze_skin') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-magnify"></i></span>
                            <span class="menu-text"> Analyze Skin </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('risk_profile') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-clipboard-account"></i></span>
                            <span class="menu-text"> Risk Profile </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('skin_type') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-chart-bell-curve-cumulative"></i></span>
                            <span class="menu-text"> Skin Type </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="{{ url_for('uv_index') }}" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-weather-sunny"></i></span>
                            <span class="menu-text"> UV Index </span>
                        </a>
                    </li>

                    <li class="menu-title">INFORMATION</li>

                    <li class="menu-item">
                        <a href="https://skinguard-information-center.notaku.site/" target="_blank" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-information-outline"></i></span>
                            <span class="menu-text"> Information Center </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="https://skinguard-knowledge-base.notaku.site/" target="_blank" class="menu-link">
                            <span class="menu-icon"><i class="mdi mdi-help"></i></span>
                            <span class="menu-text"> Help Center </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Page Content Start -->
        <div class="app-content">

            <!-- Heading Bar Start -->
            <header class="app-header">

                <!-- Brand Logo -->
                <a href="{{ url_for('index') }}" class="logo-box">
                    <img src="static/img/skinguard-single-logo.svg" class="small-logo" alt="Small logo">
                </a>

                <!-- Menu Toggle Button -->
                <button id="button-toggle-menu" class="nav-link">
                    <span class="hamburger-nav"></span>
                    <span class="hamburger-nav-main">
                        <i class="mdi mdi-24px mdi-menu"></i>
                    </span>
                </button>

                <!-- Page Title -->
                <h4 class="header-font-title">Home</h4>
            </header>
            <!-- Heading Bar End -->

            <!-- Main Content Start -->
            <main class="main-body">
                <!-- Upper Row -->
                <div class="main-grid-row">

                    <!-- Skin Image Start -->
                    <div class="card card-main-features">
                        <div class="card-header">
                            <h4 class="card-title">Explore Features</h4>
                        </div>

                        <div class="card-container">
                            <div class="features-row">
                                <div class="card card-features">
                                    <a href="{{ url_for('analyze_skin') }}">
                                    <div class="result-icon">
                                        <span class="features-container icon">
                                            <i class="mdi mdi-24px mdi-magnify"></i>
                                        </span>
                                        </span>
                                    </div>
                                    <h5>Analyze Skin</h5>
                                    <p>Assess your skin's condition, texture, and characteristics to understand its unique needs and concerns.</p>
                                    <div class="explore-button-container">
                                        <div class = "explore-button">
                                            <p>Get Started</p>
                                            <i class = "mdi mdi-arrow-right"></i>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                                <div class="card card-features">
                                    <a href="{{ url_for('risk_profile') }}">
                                        <div class="result-icon">
                                            <span class="features-container icon">
                                                <i class="mdi mdi-24px mdi-clipboard-account"></i>
                                            </span>
                                            </span>
                                        </div>
                                        <h5>Risk Profile</h5>
                                        <p>Evaluate the likelihood of encountering specific skincare issues based on factors like your skin type, lifestyle,
                                        and environmental exposures.</p>
                                        <div class="explore-button-container">
                                            <div class="explore-button">
                                                <p>Get Started</p>
                                                <i class="mdi mdi-arrow-right"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="card card-features">
                                    <a href="{{ url_for('skin_type') }}">
                                    <div class="result-icon">
                                        <span class="features-container icon">
                                            <i class="mdi mdi-24px mdi-chart-bell-curve-cumulative"></i>
                                        </span>
                                        </span>
                                    </div>
                                    <h5>Skin Type</h5>
                                    <p>Determine your skin type on how it behaves and reacts to different skincare products and environmental factors.</p>
                                    <div class="explore-button-container">
                                        <div class = "explore-button">
                                            <p>Get Started</p>
                                            <i class = "mdi mdi-arrow-right"></i>
                                        </div>
                                    </div>
                                    </a>
                                </div>

                                <div class="card card-features">
                                    <a href="{{ url_for('uv_index') }}">
                                    <div class="result-icon">
                                        <span class="features-container icon">
                                            <i class="mdi mdi-24px mdi-weather-sunny"></i>
                                        </span>
                                        </span>
                                    </div>
                                    <h5>UV Index</h5>
                                    <p>Identify your location's UV level to plan for your outdoor activities and adjust your sun protection measures.</p>
                                    <div class="explore-button-container">
                                        <div class = "explore-button">
                                            <p>Get Started</p>
                                            <i class = "mdi mdi-arrow-right"></i>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Skin Image End -->
                </div>
                <!-- Result End -->

                <!-- Lower Row -->
                <div class="main-grid-row xl-grid-4-cols m-grid-2-cols">

                    <!-- Resources Start -->
                    <div class="card card-skin-photo">
                        <div class="card-header flex justify-between items-center">
                            <h4 class="card-title">Resources</h4>
                        </div>

                        <div class="card-container card-grid" >
                            <a class="card card-features card-resources" href="https://skinguard2024.webflow.io/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-web"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Website
                                    </h5>
                                </div>
                            </a>
                            

                            <a class="card card-features card-resources" href="https://skinguard-information-center.notaku.site/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-information-outline"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Information Center
                                    </h5>
                                </div>
                            </a>

                            <a class="card card-features card-resources" href="https://skinguard-knowledge-base.notaku.site/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-help"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Help Center
                                    </h5>
                                </div>
                            </a>

                            <a class="card card-features card-resources" href="mailto:skinguard2024@gmail.com">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-email-outline"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Email Us
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Resources End -->

                    <!-- Resources Start -->
                    <div class="card card-skin-photo">
                        <div class="card-header flex justify-between items-center">
                            <h4 class="card-title">Follow Us</h4>
                        </div>

                        <div class="card-container card-grid" >
                            <a class="card card-features card-resources" href="https://www.linkedin.com/company/skinguard/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-linkedin"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        LinkedIn
                                    </h5>
                                </div>
                            </a>

                            <a class="card card-features card-resources" href="https://www.instagram.com/skinguard2024/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-instagram"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Instagram
                                    </h5>
                                </div>
                            </a>

                            <a class="card card-features card-resources" href="https://www.facebook.com/people/SkinGuard/61559292915393/">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-facebook"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Facebook
                                    </h5>
                                </div>
                            </a>

                            <a class="card card-features card-resources" href="https://twitter.com/SkinGuard2024">
                                <div class="result-icon">
                                    <span class="resources-container icon">
                                        <i class="mdi mdi-24px mdi-twitter"></i>
                                    </span>
                                    <h5 class = "resources-heading">
                                        Twitter (X)
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Resources End -->


                    
                </div>
            </main>
        </div>

        <!-- JS -->

        <script src="static/js/jquery.js"></script>
        <script src="static/js/simplebar.js"></script>
        <script src="static/js/waves.js"></script>
        <script src="static/js/knob.js"></script>
        <script src="static/js/preline.js"></script>
        <script src="static/js/app.js"></script>

</body>

</html>